.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
/*thead{*/
    /*background-color: #404666;*/
    /*color: #eaebff;*/
/*}*/
/*.active{*/
    /*width: 100%;*/
/*}*/
/*.paper-history{*/
    /*text-align: center;*/
/*}*/
.available{
    background-color: forestgreen;
}
.newTemplate{
    border: 1px dashed gray;
    height: 100%;
    color: gray;
    border-radius: 2px;
    padding: 7px;
}

.do-exam, .do-exam-exist{
    width: 100%;
}

#waiting-icon{
    /*display: none;*/
}
