.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.table{
    border-bottom: 5px solid #006dcc;
}
thead{
    background-color: #404666;
    color: #eaebff;
}
.active{
    width: 100%;
}
.paper-history{
    text-align: center;
}
.available{
    background-color: forestgreen;
}
.newTemplate{
    border: 1px dashed #d4d4d4;
    height: 100%;
    color: #d4d4d4;
    border-radius: 2px;
    padding: 7px;
}