.text-right:not(.label-create-paper){
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

#showEmployeeSelected{
    margin-bottom: 10px;
}

.label-adv, .label-normal{
    padding-top: 3px;
    font-weight: normal;
}

#createDateToBtn, #createDateFromBtn {
    cursor: pointer;
}

.datepicker-switch, .prev, .next{
    background-color: #006dcc;
}

.old{
    background-color: #EAEAEA;
}

.dow{
    background-color: #BBBBBB;
}

#advanceBtn{
    background-color: #f5f5f5;
    border: hidden;
}

.glyphicon-triangle-bottom, .glyphicon-triangle-top{
    font-size: 1px;
    cursor: pointer;
    color: #777777;
}

/*label[for="paperCodeSearch"], label[for="paperName"]{*/

/*}*/